.topnav {
    background-color: #3DA15E;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #1F471D;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #3DA15E;
    color: white;
    #1F471D,#71A371,#3DA15E,#FFFFFF,#5A6159,#FFFFFF,#65C4CF,#54B9C7
  }

  color: 